<div class="container">
  <div class="row">
    <h1>国名一覧</h1>
  </div>
  <div class="row d-flrx flex-wrap">
      <% @parents.each do |parent| %>
      <ul style="column-count: 2;">
        <% parent.children.each do |child| %>
        <li><%= "#{child.name}" %></li>
        <ul>
          <% child.children.each do |grandchild| %>
          <li><%= link_to "#{grandchild.name}", genres_path(grandchild) %></li>
          <% end %>
        </ul>
        <% end %>
      </ul>
      <% end %>
  </div>
</div>