<div class="container">
  <% if @range == "Review" %>
  <div class="row mt-5">
    <h3 class="border-bottom border-dark mb-4">投稿検索結果：" <%= @word %> "</h3>
  </div>
  <%= render 'public/reviews/index', reviews: @reviews %>

  <% else %>
  <div class="row mt-5">
    <h3 class="border-bottom border-dark mb-4">ユーザー検索結果：" <%= @word %> "</h3>
  </div>
  <%= render 'public/users/index', users: @users %>

  <% end %>
</div>