body{
  font-family: "Helvetica", "Montserrat", "Courier New", "Segoe UI", sans-serif;
}

.bg-teal{
  background-color: #20c997;
}

.box {
  margin: 5px 30px;
}

.caption {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

#comments_area {
  border-top: solid 1px #DDDDDD;
}

.comment-container {
  padding: 1em 1em 0em 1em;
  border: solid 2px #DDDDDD;
}

.comment-entry {
  margin-left: 50px;
}

.comment-date {
  color: #BBBBBB;
  margin-bottom: 0px;
  font-size: small;
}
