@import "skippr";
@import "public/homes";

:root {
  --body: #FFFFFF;
  --header: #EEEEEE;
  --text-color: #000;
}

body{
  font-family: "Helvetica", "Montserrat", "Courier New", "Segoe UI", sans-serif;
  background: var(--body) !important;
  color: var(--text-color) !important;
}

header{
  background: var(--header) !important;
  border-bottom: solid 1px #000;
}

.navbar-brand{
  margin: 0;
  padding: 0;
}

.btn-box{
  width: 100px;
}

.name-box{
  margin: 0px 0px 0px 100px;
}

.dropdown-menu{
  font-size: 70%;
}

.dropdown-item{
  color: #20c997;
}

.main-visual {
  width: 100%;
  height: 200px;
  background-image: url(top-image4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}





.bg-teal{
  background-color: #20c997;
}

ul {
  list-style: none;
  padding-left: 0;
}

#comments_area {
  border-top: solid 1px #DDDDDD;
}

.comment-container {
  padding: 1em 1em 0em 1em;
  border: solid 2px #DDDDDD;
}

.comment-entry {
  margin-left: 50px;
}

.comment-date {
  color: #BBBBBB;
  margin-bottom: 0px;
  font-size: small;
}

.user-info {
  font-size: small;
}

.h6 {
  border-bottom: solid 3px black;
}

.tag-name {
  font-size: x-small;
}
