<div class="container">
  
  <div class="row">
    <!--ユーザー背景-->
  </div>
  
  <div class="row">
    <div class="col-3">
      <!--ユーザー画像-->
    </div>
    <div class="col-9">
      <!--ニックネーム、紹介、テーブル-->
    </div>
  </div>
  
  <div class="row">
    <!--投稿一覧-->
  </div>
</div>
